.userStyle {
  margin-top: 20px;
  margin-left: 30%;
  color: azure;
  width: 30px;
}

.mainform {
  background-color: wheat;
  width: 50%;
  margin-left: 20%;
  height: 72%;
}



.app {
  background-color: #423688;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding-top: 40px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  margin-left: 350px;
}


.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  color: azure;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-section {
  width: 100%;
  position: relative;
  color: azure;
}

.question-count span {
  font-size: 28px;
  color: azure;
}

.question-text {
  margin-bottom: 12px;
  color: azure;
}